.tag {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 10px 22px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #B08968;
}

.tagNonFLoat {
    width: 97px;
    padding: 10px 22px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #B08968;
}